// variables no aplica stylos

// FONST
$base-font-size: 16px;
$base-line-height: 16px;
$base-font-family: 'SourceSansPro';
$size-normal: 16px;

// BACKGROUND
$base-bg-color: #fff;

//COLORS
$color-primary: #61dafb;
$color-dark: #20232a;
$color-while: #fff;



