extends /config/template
append config
  -pageTitle = 'Create Project Static'
  -pageDescription = 'basis for creating new static projects'
  -pageImage = ''

block main
  #js-clickcolor
    +banner('1.0')
    include /includes/header
    include /includes/section
    include /includes/aside
    include /includes/footer