-let pageTitle = 'Title'
-let pageDescription = 'Page description'
-let pageImage = 'image.jpg'


//- menu
-
  let pages = [
    {
      title: 'Home',
      url: '/',
      child: []
    },
    {
      title: 'About',
      url: 'about.html',
      child: []
    }
  ]