@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 400;
  src: local("SourceSansPro Regular"), local("SourceSansPro-Regular"), url("./fonts/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 500;
  src: local("SourceSansPro Bold"), local("SourceSansPro-Bold"), url("./fonts/SourceSansPro-Bold.otf");
}
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 700;
  src: local("SourceSansPro black"), local("SourceSansPro-black"), url("./fonts/SourceSansPro-Black.otf");
}
